<div class="row readonly-data">
  <div class="span12">
    <h3>
      <%= link_to t('view.dashboard.close_to_expire'), close_to_expire_path(date_range: { start: @date.start, end: @date.end }) %>
    </h3>
    <%= simple_form_for @date, url: close_to_expire_path do |f| %>
      <div class="row">
        <div class="span3">
          <%= f.input :start, as: :date_picker, label: t('view.dashboard.start') %>
        </div>
        <div class="span3">
          <%= f.input :end, as: :date_picker, label: t('view.dashboard.end') %>
        </div>
      </div>
      <%= f.button :submit, t('view.dashboard.apply'), class: 'btn-primary' %>
    <% end %>
    <table class="table close_to_expire resource-list table-condensed" data-endless-container="true">
      <thead>
        <th>
          <%= t 'view.dashboard.client' %>
        </th>
        <th>
          <%= t 'view.dashboard.expiring' %>
        </th>
        <th>
          <%= t 'view.dashboard.amount' %>
        </th>
        <th>
          <%= t 'view.dashboard.phone' %>
        </th>
        <th>
          <%= t 'view.dashboad.address' %>
        </th>
      </thead>
      <tbody>
        <% @fees.each do |fee| %>
          <tr>
            <td>
              <%= fee.client.try(:name) %>
            </td>
            <td>
              <%= I18n.l(fee.expiration_date, format: :minimal) %>
            </td>
            <td>
              <%= fee.total_amount %>
            </td>
            <td>
              <%= fee.client.try(:phones).try(:first).try(:phone) %>
            </td>
            <td>
              <%= fee.client.try(:addresses).try(:first).try(:address) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= pagination_links(@fees) %>
</div>

<nav class="form-actions">
</nav>
