<table class="table table-condensed">
  <thead>
    <tr>
      <th>
        <%= t 'view.dashboard.late_average' %>
      </th>
      <th>
        <%= t 'view.dashboard.amount' %>
      </th>
      <th>
        <%= t 'view.dashboard.phone' %>
      </th>
      <th>
        <%= t 'view.dashboard.address' %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @fee.try(:late_average) %>
      </td>
      <td>
        <%= @fee.try(:total_amount) %>
      </td>
      <td>
        <%= @fee.client.try(:phones).try(:first).try(:phone) %>
      </td>
      <td>
        <%= @fee.client.try(:addresses).try(:first).try(:address) %>
      </td>
    </tr>
  </tbody>
</table>

<h5>
  <%= t 'view.dashboard.last_calls' %>
</h5>
<table class="table table-condensed notifications">
  <thead>
    <tr>
      <th>
        <%= t 'view.dashboard.call' %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @fee.client.try(:calls).try(:each) do |call| %>
      <% if call.try(:call).present? %>
        <tr>
          <td>
            <%= call.try(:call) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
