<div class="row">
  <div class="span12">
      <h3><%= t 'view.dashboard.dashboard' %></h3>
      <%= simple_form_for @date, url: dashboard_path do |f| %>
        <div class="row">
          <div class="span3">
            <%= f.input :start, as: :date_picker, label: t('view.dashboard.start') %>
          </div>
          <div class="span3">
            <%= f.input :end, as: :date_picker, label: t('view.dashboard.end') %>
          </div>
        </div>
          <%= f.button :submit, t('view.dashboard.apply'), class: 'btn-primary' %>
        <% end %>
    <div class="row">
      <div class="span6">
        <h3>
          <%= link_to t('view.dashboard.expired'), expired_path(date_range: { start: @date.start, end: @date.end }) %>
        </h3>
        <table id="expired" class="table resource-list expired table-condensed">
          <thead>
            <th>
              <%= t 'view.dashboard.client' %>
            </th>
            <th>
              <%= t 'view.dashboard.expiring' %>
            </th>
          </thead>
          <tbody>
            <% @expired.each do |fee| %>
              <tr>
                <td>
                  <%= fee.client.try(:name) %>
                </td>
                <td>
                  <%= I18n.l(fee.expiration_date, format: :minimal) %>
                </td>
                <td>
                  <div class="actions">
                    <%= (link_to '<span class="badge badge-info">&#x2139;</span>'.html_safe, expiring_info_path(fee.id),
                        remote: true, class: "iconic popoverized info-#{fee.id}",
                        data: { original_title: t('label.more_info'), show_tooltip: true }
                    ) if fee.persisted? %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="span6">
        <h3>
          <%= link_to t('view.dashboard.close_to_expire'), close_to_expire_path(date_range: { start: @date.start, end: @date.end }) %>
        </h3>
        <table id="close_to_expire" class="table close_to_expire resource-list table-condensed">
          <thead>
            <th>
              <%= t 'view.dashboard.client' %>
            </th>
            <th>
              <%= t 'view.dashboard.expiring' %>
            </th>
            <th></th>
          </thead>
          <tbody>
            <% @close_to_expire.each do |fee| %>
              <tr>
                <td>
                  <%= fee.client.try(:name) %>
                </td>
                <td>
                  <%= I18n.l(fee.expiration_date, format: :minimal) %>
                </td>
                <td>
                  <div class="actions">
                    <%= (link_to '<span class="badge badge-info">&#x2139;</span>'.html_safe, expiring_info_path(fee.id),
                     remote: true, class: "iconic popoverized info-#{fee.id}",
                      data: { original_title: t('label.more_info'), show_tooltip: true }

                    ) if fee.persisted? %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<nav class="form-actions">
</nav>
