<div class="readonly-data">
  <div class="page-header">
    <h1><%= t('view.dashboard.greetings.html', user: current_user.name) %></h1>
  </div>
  <% @summaries.each do |summary| %>
    <div class="row-fluid">
      <div class="span12">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <% summary.headers.each do |header| %>
                <th><%= header %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% summary.rows.each do |column| %>
              <tr>
                <td><%= show_filter(column[:filter]) %></td>
                <td>
                  <%= link_to_loans(
                    summary.action, column[:filter], column[:value], summary.formatter
                  ) %>
                </td>
                <td><%= column[:amount] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
<div class="form-actions"></div>
