<div class="readonly-data">
  <table class="table table-condensed personal-info">
    <thead>
      <tr>
        <th>
          <%= t 'view.client.name' %>
        </th>
        <th>
          <%= t 'view.client.phone' %>
        </th>
        <th>
          <%= t 'view.client.address' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= @client.try(:name) %>
        </td>
        <td>
          <%= @client.try(:phones).try(:first).try(:phone) %>
        </td>
        <td>
          <%= @client.try(:addresses).try(:first).try(:address) %>
        </td>
      </tr>
    </tbody>
  </table>

  <h4>
    <%= t 'view.dashboard.last_calls' %>
  </h4>
  <table class="table table-condensed notifications">
    <thead>
      <tr>
        <th>
          <%= t 'view.dashboard.call' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @client.try(:calls).try(:each) do |call| %>
        <% if call.try(:call).present? %>
          <tr>
            <td>
              <%= call.try(:call) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <h4>
    <%= t 'view.dashboard.payments' %>
  </h4>
  <h5>
    <% late_average = @client.try(:payments).try(:first).try(:late_average) %>
    <%= t 'view.payments.late_average' %>: <%= late_average %> |
    <%= t 'view.payments.loan_id' %>:  <%= @client.try(:product_id)  %>
  </h5>
  <table class="table table-condensed payments">
    <thead>
      <tr>
        <th>
          <%= t 'view.payments.total_amount' %>
        </th>
        <th>
          <%= t 'view.payments.payment_number' %>
        </th>
        <th>
          <%= t 'view.payments.expiration_date' %>
        </th>
        <th>
          <%= t 'view.payments.payment_date' %>
        </th>
        <th>
          <%= t 'view.payments.late_days' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @client.try(:payments).try(:each) do |payment| %>
        <tr class="<%= date_payments(payment) %>">
          <td>
            <%= payment.total %>
          </td>
          <td>
            <%= payment.number %>
          </td>
          <td>
            <%= I18n.l(payment.expiration, format: :minimal) %>
          </td>
          <td>
            <%= I18n.l(payment.payment_date, format: :minimal) if payment.payment_date %>
          </td>
          <td>
            <%= payment.late_days %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<nav class="form-actions">
</nav>
