<% span_size = !@modal ? 4 : 5 %>
<%= simple_form_for([@schedulable, @schedule], data: { remote: true, scheduled_form: true }) do |f| %>
  <div class="row-fluid">
    <div class="span<%= span_size %>">
      <div data-datetime-picker-id="<%= (@schedulable || @schedule).to_param %>"></div>
    </div>
    <div class="span<%= 12 - span_size %>">
      <%= f.input :scheduled_at, as: :hidden, label: false, input_html: { 
        id: "datetime-picker-id-#{(@schedulable || @schedule).to_param}",
        value: l((@date || @schedule.scheduled_at), format: :minimal) 
      } %>
      <%= f.input :description, id: false, label: false, input_html: { 
        rows: 12, class: 'span12',
        placeholder: Schedule.human_attribute_name('description') 
      } %>

      <%= f.button :submit, class: 'btn-primary' %>
      <span class=muted>|</span>
      <small><%= link_to_cancel_schedule %></small>
    </div>
  </div>

  <br />
  <%= show_remind_me_schedule_checkbox(f) %>
<% end %>
