<li data-schedule-id="<%= schedule.to_param %>" <%== 'class="muted strike"' if schedule.done? %>>
  <%= show_mark_schedule_as_done_check_box(schedule) %>
  <span class="muted">
    <%= l schedule.scheduled_at, format: :mini %> |
  </span>
  <% if schedule.schedulable %>
    <%= link_to_schedulable(schedule)%>
    <span class="muted">|</span>
  <% end %>
  <%= schedule.description %> 
  <%= link_to_edit(
    edit_polymorphic_path([schedule.schedulable, schedule]),
    data: { remote: true }
  ) if can?(:update, schedule) && schedule.editable? %>
  <div data-template></div>
</li>
