<div data-schedule-id="<%= schedule.to_param %>">
  <%= show_mark_schedule_as_done_check_box(schedule) %>
  <span class="muted"><%= l schedule.scheduled_at, format: :mini %> |</span>
  <%== show_tags(schedule.schedulable) %>
  <span <%== 'class="muted strike"' if schedule.done? %>>
    <% if schedule.schedulable %>
      <span class="muted">|</span>
      <%= link_to_schedulable(schedule)%>
      <span class="muted">|</span>
    <% end %>
    <%= schedule.description %>

    <% if schedule.editable? %>
      <% if can?(:update, schedule) %>
        <span class="muted">|</span>
        <%= link_to_edit edit_polymorphic_path([schedule.schedulable, schedule]), remote: true %>
      <% end %>

      <% if can?(:read, Note) %>
        <span class="muted">|</span>
        <%= link_to_notes polymorphic_path([schedule, Note]), remote: true %>
        <small class="muted">(<%= schedule.notes.count %>)</small>
      <% end %>
      <% if can? :destroy, schedule %>
        <span class="muted">|</span>
        <%= link_to_destroy schedule, remote: true %>
      <% end %>
    <% end %>

    <div data-info-id="<%= schedule.to_param %>"></div>
    <div data-noteable-id="<%= schedule.to_param %>"></div>
  </span>
</div>
