<ul class="nav nav-pills navtags hidden-print">
  <li class="dropdown active">
    <%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
      <%= t('label.select') %>
      <b class="caret"></b>
    <% end %>

    <ul class="dropdown-menu">
      <li><%= link_to t('label.all'),     '#', data: { mark: true }       %></li>
      <li><%= link_to t('label.none'),    '#', data: { mark: false }      %></li>
      <li><%= link_to t('label.done'),    '#', data: { mark_done: true }  %></li>
      <li><%= link_to t('label.pending'), '#', data: { mark_done: false } %></li>
    </ul>
  </li>
  <li class="dropdown nav-actions hidden">
    <%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
      <%= t('label.actions') %>
      <b class="caret"></b>
    <% end %>

    <ul class="dropdown-menu">
      <li><%= link_to t('label.mark_as_done'), '#', data: { mark_as: 'done' } %></li>
      <li><%= link_to t('label.mark_as_pending'), '#', data: { mark_as: 'pending' } %></li>
      <li><%= link_to t('label.move'), calendar_schedules_path, data: { remote: true } %></li>
    </ul>
  </li>
</ul>
