$('[data-schedulable]').remove();

$('[data-object-id="<%= @schedulable.to_param %>"]').after(
  $('<tr data-schedulable id="schedulable-id-<%= @schedulable.to_param %>"></tr>').html(
    $('<td colspan="7"></td>').html(
      '<%= j render(template: 'schedules/new', formats: [:html]) %>'
    )
  )
);

$('[data-date-picker-id="<%= @schedulable.to_param %>"]').datepicker(
  { altField: '#date-picker-id-<%= @schedulable.to_param %>' }
);
