<div class="readonly-data">
  <% unless request.xhr? %>
    <p class="lead">
      <%= @schedule.description %>
    </p>

    <p>
      <strong><%= Schedule.human_attribute_name 'scheduled_at' %></strong>:
      <%= l @schedule.scheduled_at %>
    </p>
  <% end %>

  <% if @schedule.schedulable %>
    <br />
    <div>
      <%= render @schedule.schedulable %>
    </div>
  <% end %>
  
</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_schedule_path(@schedule) if can? :update, @schedule %> |
  <%= link_to t('label.list'), schedules_path %>
</div>
