<div id="schedule-<%= @schedule.to_param %>">
  <% unless request.xhr? %>
    <p class="lead">
      <%= @schedule.description %>
    </p>

    <p>
      <strong><%= Schedule.human_attribute_name 'scheduled_at' %></strong>:
      <%= l @schedule.scheduled_at %>
    </p>
  <% end %>

  <% if @schedule.schedulable %>
    <br />
    <div>
      <%= render @schedule.schedulable %>
    </div>
  <% end %>

  <% if request.xhr? %>
    <div class="pull-right">
      <%= link_to t('label.close'), '#', class: 'btn btn-mini', data: { remove_target: "#schedule-#{@schedule.to_param}" } %>
    </div>
  <% end %>
</div>

<% unless request.xhr? %>
  <div class="form-actions">
    <%= link_to t('label.edit'), edit_schedule_path(@schedule) if can? :update, @schedule %> |
    <%= link_to t('label.list'), schedules_path %>
  </div>
<% end %>
