<div class="readonly-data">
  <h2><%= @schedule %></h2>

  <p>
    <strong><%= Schedule.human_attribute_name 'description' %></strong>:
    <%= @schedule.description %>
  </p>
  <p>
    <strong><%= Schedule.human_attribute_name 'schedule_at' %></strong>:
    <%= @schedule.scheduled_at %>
  </p>
  
</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_schedule_path(@schedule) if can? :update, @schedule %> |
  <%= link_to t('label.list'), schedules_path %>
</div>
