<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar hidden-print" data-toggle="collapse" data-target=".nav-collapse">
        <span class="iconic">&#xe055;</span>
      </a>

      <%= link_to t('app_name'), root_path, class: 'brand' %>

      <% if user_signed_in? %>
        <div class="nav-collapse hidden-print">
          <ul class="nav">
            <%= render 'shared/menu_dropdowns/hierarchy' if current_user.has_children? %>
            <%= render 'shared/menu_dropdowns/users' if can?(:read, User) %>
            <%= show_menu_link(
              name: 'dashboard', controllers: 'dashboard', path: dashboard_path
            ) %>
            <%= render 'shared/menu_dropdowns/schedules' if can?(:read, Schedule) %>
            <%= render 'shared/menu_dropdowns/loans' if can?(:read, Loan) %>
          </ul>
          <%= render 'shared/nav_search' %>
          <%= render 'shared/menu_dropdowns/nav_account' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
