<div class="readonly-data">
  <table class="table table-condensed table-hover" data-endless-container="true">
    <thead>
      <tr>
        <th><%= Client.human_attribute_name('name') %></th>
        <th><%= Client.human_attribute_name('lastname') %></th>
        <th><%= Client.human_attribute_name('identification') %></th>
        <th><%= Client.human_attribute_name('address') %></th>
        <th><%= Client.human_attribute_name('phone') %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'schedulable', collection: @clients, as: :client %>
    </tbody>
  </table>
</div>

<div class="pagination-container">
  <%= pagination_links(@clients) %>
</div>

<div class="form-actions"></div>
