<%= simple_form_for([@parent_tag, @tag], data: { remote: true }) do |f| %>
  <%= f.input :name, label: false, input_html: { class: 'span12' } %>

  <div class="btn-group">
    <% Tag::CATEGORIES.each do |category| %>
      <div data-tag-category="true" class="btn btn-<%= category == 'important' ? 'danger' : category %> 
        <%= 'selected' if @tag.category == category %>">
        <span class="iconic"><%= '&#x2713;'.html_safe %></span>
        <%= f.radio_button :category, category %>
      </div>
    <% end %>
  </div>

  <div>
    <%= f.button :submit, class: 'btn-primary' %>
    <span class="muted">|</span>
    <small>
      <%= link_to(
        t('label.cancel'), '#', data: { remove_target: '[data-tags-new] *'} 
      ) %>
    </small>
  </div>
<% end %>
