<%= simple_form_for(@tag, data: { remote: true }) do |f| %>
  <%= f.input :name, label: false, input_html: { class: 'span12' } %>

  <div class="btn-group">
    <% Tag::CATEGORIES.each do |category| %>
      <div data-tag-category="true" class="btn btn-<%= category == 'important' ? 'danger' : category %> 
        <%= 'selected' if @tag.category == category %>">
        <span class="iconic"><%= '&#x2713;'.html_safe %></span>
        <%= f.radio_button :category, category %>
      </div>
    <% end %>
  </div>

  <div>
    <%= hidden_field_tag :action_name, params[:action_name] %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
