<% 
  tags_children = children(tags, root_tag) 
  shown = @tag == root_tag || tags_children.include?(@tag)
%>
<div class="accordion-group">
  <div class="accordion-heading">
    <ul class="nav nav-pills nav-stacked">
      <li <%== 'class="active"' if root_tag == @tag %>>
        <% if tags_children.present? %>
          <%= link_to "#children-#{root_tag.to_param}", 
            class: 'accordion-toggle', data: { toggle: 'collapse' } do %>
            <span class="iconic"><%= (shown ? '&#xe016;' : '&#xe015;').html_safe %></span>
          <% end %>
        <% end %>
        <%= link_to_tag root_tag, class: 'root-tag' %>
        <%= render 'tags/actions', tag: root_tag %>
      </li>
    </ul>
  </div>
  <% if tags_children.present? %>
    <div id="children-<%= root_tag.to_param %>" class="accordion-body collapse <%== 'in' if shown %>">
      <div class="accordion-inner">
        <ul class="nav nav-pills nav-stacked">
          <% tags_children.each do |child| %>
            <li <%== 'class="active"' if child == @tag %>>
              <%= link_to_tag child, class: 'root-tag' %>
              <%= render 'tags/actions', tag: child %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
