<% if @tags.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row-fluid">
    <div class="span12">
      <table class="table">
        <thead>
          <tr>
            <th><%= Tag.human_attribute_name 'name' %></th>
            <th><%= Tag.human_attribute_name 'category' %></th>
          </tr>
        </thead>

        <tbody>
          <% @tags.each do |tag| %>  
            <tr>
              <td><%= tag.name %></td>
              <td><%= tag.category %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
