<li data-schedules-pending-count="true" class="dropdown <%== 'active' if controller_name == 'schedules' %>">
  <%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
    <%= t('menu.schedules') %>
    <span class="badge <%= 'badge-important' if pending_schedules_past_count > 0 %>">
      <%= pending_schedules_past_count %>
    </span>
    <b class="caret"></b>
  <% end %>
  <ul class="dropdown-menu">
    <li>
      <%= link_to t('view.schedules.today'), schedules_path %>
    </li>
    <li>
      <%= link_to pending_schedules_path(:past) do %>
        <%= t('view.schedules.pending.past') %>
        <span class="badge badge-important">
          <%= pending_schedules_past_count %>
        </span>
      <% end %>
    </li>
    <li>
      <%= link_to pending_schedules_path(:future) do %>
        <%= t('view.schedules.pending.future') %>
        <span class="badge badge-success">
          <%= pending_schedules_future_count %>
        </span>
      <% end %>
    </li>
  </ul>
</li>
