<tr data-object-id="<%= loan.to_param %>" class="<%= 'warning' if loan.is_scheduled? %>">
  <td><%= loan %></td>
  <td><%= loan.client %></td>
  <td><%= l(loan.next_payment_expire_at, format: :minimal) if loan.next_payment_expire_at %></td>
  <td><%= number_to_currency loan.payment %></td>
  <td><%= loan.client_phone %></td>
  <td><%= link_to_loan_info(loan) %></td>
  <td><%= link_to_new_schedule(loan) %></td>
</tr>
