<tr data-object-id="<%= loan.to_param %>" <%== 'class="warning"' if loan.is_scheduled? %>>
  <td><%= check_box_tag "loan_ids[]", loan.id, nil, { id: nil } %></td>
  <td><%== loan_category(loan) %> <%= loan.client %></td>
  <td><%= loan.payments_to_expire_count %></td>
  <td><%= l(loan.next_payment_expire_at.to_date, format: :minimal) if loan.next_payment_expire_at %></td>
  <td><%= show_phone(loan.client_phones.first) %></td>
  <td><%= link_to_loan_info(loan) %></td>
  <td><%= link_to_new_schedule(loan) %></td>
</tr>
