<tr data-object-id="<%= loan.to_param %>" <%== 'class="warning"' if loan.is_scheduled? %>>
  <td><%= loan.client %></td>
  <td><%= l(loan.delayed_at.to_date, format: :minimal) if loan.delayed_at %></td>
  <td><%= number_to_currency loan.payment %></td>
  <td><%= loan.client_phone %></td>
  <td><%= link_to_loan_info(loan) %></td>
  <td><%= link_to_new_schedule(loan) %></td>
</tr>
