<tr data-object-id="<%= loan.to_param %>" <%== 'class="warning"' if loan.is_scheduled? %>>
  <td><%= check_box_tag "taggable_ids[]", loan.id, false, id: nil %></td>
  <td><%== loan_category(loan) %> <%= loan.client %></td>
  <td><%= number_to_currency loan.total_debt %></td>
  <td><%= (Date.today - loan.delayed_at).to_i %> <%= t('datetime.days') %></td>
  <td><%= show_phone(loan.client_phones.first) %></td>
  <td><%= link_to_loan_info(loan) %></td>
  <td><%= link_to_new_schedule(loan) %></td>
</tr>
