<% tag = loan.tagged_by_user.first %>
<tr data-object-id="<%= loan.to_param %>" <%== 'class="warning"' if loan.is_scheduled? %>>
  <td><%= check_box_tag "loan_ids[]", loan.id, false, { id: nil } %></td>
  <td><%= content_tag(:span, tag.name, class: "badge badge-#{tag.category}") if tag %> <%= loan.client %></td>
  <td><%= l(loan.delayed_at.to_date, format: :minimal) if loan.delayed_at %></td>
  <td><%= loan.client_phone %></td>
  <td><%= link_to_loan_info(loan) %></td>
  <td><%= link_to_new_schedule(loan) %></td>
</tr>
