<div class="alert alert-info">
  <% if controller_name == 'loans' %>
    <button type="button" class="close" data-remove-target="#loan-info-<%= loan.to_param %>">&times;</button>
  <% end %>

  <h4><%= Loan.model_name.human(count: 1) %>  <%= loan %></h4>

  <dl class="dl-horizontal">
    <dt><%= Loan.human_attribute_name('capital') %></dt>
    <dd><%= number_to_currency loan.capital %></dd>
    <dt><%= Loan.human_attribute_name('payment') %></dt>
    <dd><%= number_to_currency loan.payment %></dd>
    <dt><%= Loan.human_attribute_name('payments_count') %></dt>
    <dd><%= loan.payments_count %></dd>
    <dt><%= Loan.human_attribute_name('expired_payments_count') %></dt>
    <dd><%= loan.expired_payments_count %></dd>
    <dt><%= Loan.human_attribute_name('payments_to_expire_count') %></dt>
    <dd><%= loan.payments_to_expire_count %></dd>
    <dt><%= Loan.human_attribute_name('debt_percentage') %></dt>
    <dd><%= show_debt_percentage(loan) %></dd>
    <dt><%= Client.human_attribute_name('address') %></dt>
    <dd><%= loan.client_address.present? ? loan.client_address : '-' %></dd>
  </dl>

  <h5><%= Client.human_attribute_name('phones') %></h5>
  <ul>
    <% if loan.phones.present? %>
      <% loan.phones.each do |phone| %>
        <li>
          <%= [phone.carrier, phone.phone].join(' - ') %>
        </li>
      <% end %>
    <% else %>
      <li><span>-</span></li>
    <% end %>
  </ul>

  <% if loan.comments.present? %>
    <h5><%= Loan.human_attribute_name('last_comments') %></h5>
    <ul>
      <% loan.last_comments.each do |comment| %>
        <li>
          [<%= l(comment.created_at.to_date) %>]
          <%= comment.user %>: <%= comment.comment %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
