<tr data-object-id="<%= loan.to_param %>" <%== 'class="warning"' if loan.closest_schedule %>>
  <td><%= check_box_tag "taggable_ids[]", loan.id, false, id: nil %></td>
  <td><%== loan_category(loan) %> <%= loan.client %></td>
  <td><%= show_phone(loan.phones.first) %></td>
  <td><%= number_to_currency loan.capital %></td>
  <td><%= show_distance_in_words(loan.canceled_at) %></td>
  <td class="hidden-print"><%= link_to_loan_info(loan) %></td>
  <td class="hidden-print"><%= link_to_new_schedule(loan) %></td>
</tr>
