<tr data-object-id="<%= loan.to_param %>">
  <td class="hidden-print"><%= check_box_tag "taggable_ids[]", loan.id, false, id: nil %></td>
  <td class="hidden-print"><%= show_schedule(loan) %></td>
  <td><%== loan_category(loan) %> <%= show_client_info(loan) %></td>
  <td><%= show_distance_in_words(loan.canceled_at) %></td>
  <td><%= number_to_currency loan.capital %></td>
  <td><%= loan.days_overdue_average.to_f %></td>
  <td class="hidden-print"><%= link_to_loan_info(loan) %></td>
  <td class="hidden-print"><%= link_to_new_schedule(loan) %></td>
</tr>
