<% if loan.schedules.present? %>
  <h5><%= Schedule.model_name.human(count: 0) %></h5>
  <ul>
    <% loan.schedules.reverse_order.each do |schedule| %>
    <li>
      <%= "[#{l(schedule.created_at.to_date)}]" %>
      <%=  schedule.description %> <%= "(#{schedule.user})" %>
      <% if schedule.notes.present? %>
        <div class="row-fluid">
          <div class="span1">
            <small><strong><%= Note.model_name.human(count: 0) %></strong></small>
          </div>
          <div class="span11">
            <ul>
              <% schedule.notes.each do |note| %>
                <li>
                  <%= note.note %>
                  <%= " (#{note.user}) " %>
                  <%= " [#{l note.created_at.to_date}] " %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </li>
    <% end %>
  </ul>
<% end %>

<% if loan.comments.present? %>
  <h5><%= Loan.human_attribute_name('last_comments') %></h5>
  <ul>
    <% loan.last_comments.each do |comment| %>
      <li>
        <%= " [#{l(comment.created_at.to_date)}] " %>
        <%= (" #{comment.user}: #{comment.comment} ") %>
      </li>
    <% end %>
  </ul>  
<% end %>
