<% tags = current_scope.tags %>
<ul class="nav nav-pills navtags pull-left">
  <li class="dropdown active">
    <%= link_to '#', id: 'navtags', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
      <%= content_tag(:span, '&#xe02b;'.html_safe, class: 'iconic') << ' ' << Tag.model_name.human(count: 0) %>
      <b class="caret"></b>
    <% end %>
    <ul class="dropdown-menu" aria-labelledby="navtags">
      <% roots(tags).each do |root_tag| %>
        <li class="root-tag">
          <%= link_to_tag root_tag, data: { url: '#', tag_id: root_tag.id } %>
        </li>
        <% children(tags, root_tag).each do |child| %>
          <li class="child-tag">
            <%= link_to '#', data: { title: child.name, show_tooltip: true, tag_id: child.id } do %>
              <span class="muted"><small><%= truncate_tag_name(child) %></small></span>
            <% end %>
          </li>
        <% end %>
      <% end %>
      <li class="divider"></li>
      <li><%= link_to t('view.tags.new'), new_tag_path, remote: true %></li>
    </ul>
  </li> 
  <li>
    <ul class="inline summary-info">
      <li>
        <strong><%= Loan.model_name.human(count: 0) %>:</strong> <%= @summary.loans_count %>
      </li>
      <li>
        <strong><%= t("view.loans.#{action_name}_summary") %>:</strong>
        <%= @summary.value_formatted(@summary.loans_summary) %>
      </li>
      <li>
        <strong><%= Loan.human_attribute_name('total_capital') %>:</strong>
        <%= number_to_currency @summary.total_capital %>
      </li>
    </ul>
  </li>
</ul>
<div class="pull-right">
  <%= link_to(t('label.print'),
    url_for(controller: 'loans', action: action_name, print: true),
    class: 'btn btn-primary btn-mini print', remote: true
  ) %>
</div>
