<%= render 'sidebar' %>
<%= render 'topbar' %>

<% if @loans.present? %>
  <%= form_tag nil, method: :post, data: { action: tag_taggings_path('tag_id', action_name: action_name),
    remote: true, form_container: true } do %>
    <table class="table table-condensed table-hover" data-endless-container="true">
      <thead>
        <tr>
          <th></th>
          <th><%= Loan.human_attribute_name('client_id') %></th>
          <th><%= Loan.human_attribute_name('progress') %></th>
          <th><%= Payment.human_attribute_name('expired_at') %></th>
          <th><%= Phone.human_attribute_name('phone') %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'close_to_expire', collection: @loans, as: :loan %>
      </tbody>
    </table>
  <% end %>

  <div data-schedule-form-placeholder="true"></div>

  <div class="pagination-container">
    <%= pagination_links(@loans) %>
  </div>
<% else %>
  <%= render 'shared/empty_index' %>
<% end %>
