<%= render 'shared/filters' %>
<br />

<div class="readonly-data">
  <table class="table table-condensed" data-endless-container="true">
    <thead>
      <tr>
        <th><%= t('view.payments.columns.loan_id') %></th>
        <th><%= t('view.payments.columns.client') %></th>
        <th><%= t('view.payments.columns.expiring') %></th>
        <th><%= t('view.payments.columns.amount') %></th>
        <th><%= t('view.payments.columns.phone') %></th>
        <th><%= t('view.payments.columns.address') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @payments %>
    </tbody>
  </table>
</div>

<div class="pagination-container">
  <%= pagination_links(@payments) %>
</div>

<nav class="form-actions">
</nav>
