<div class="alert alert-info">
  <button type="button" class="close" data-remove-target="#payment-info-<%= @payment.to_param %>">&times;</button>

  <dl class="dl-horizontal">
    <dt><%= t('view.payments.columns.amount') %></dt>
    <dd><%= @payment.total %></dd>
    <dt><%= t('view.payments.columns.phone') %></dt>
    <dd><%= @payment.client_phone || '-' %></dd>
    <dt><%= t('view.payments.columns.address') %></dt>
    <dd><%= @payment.client_address || '-' %></dd>
  </dl>

  <% if @payment.client_last_comments.present? %>
    <h5><%= t('view.dashboard.last_comments') %></h5>
    <ul>
      <% @payment.client_last_comments.each do |comment| %>
        <li>
          [<%= l(comment.created_at.to_date) %>]
          <%= comment.user %>: <%= comment.comment %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
