<div class="alert alert-info">
  <button type="button" class="close" data-remove-target="#fee-info-<%= @fee.to_param %>">&times;</button>

  <dl class="dl-horizontal">
    <dt><%= t('view.fees.columns.late_average') %></dt>
    <dd><%= @fee.late_average %></dd>
    <dt><%= t('view.fees.columns.amount') %></dt>
    <dd><%= @fee.total_amount %></dd>
    <dt><%= t('view.fees.columns.phone') %></dt>
    <dd><%= @fee.client_phones.try(:first) || '-' %></dd>
    <dt><%= t('view.fees.columns.address') %></dt>
    <dd><%= @fee.client_addresses.try(:first) || '-' %></dd>
  </dl>

  <% if @fee.client_calls.present? %>
    <h5><%= t('view.dashboard.last_calls') %></h5>
    <ul>
      <% @fee.client_calls.each do |call| %>
        <% if call.call.present? %>
          <li><%= call.call %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
